#registration_form label, #login label {
    text-align: center;
    margin: 0.5em;
}
#login_button {
    font-weight: 600;
    line-height: 35px;
    outline: 0;
    background: #FFF;
    color: #2056ac;
    border-radius: 0px 0px 7px 7px;
    width: 10%;
    border:3px solid white;
    border-top: 3px solid #2056ac;
}
#login_button:hover, #login_button a:hover{
    background: #2056ac;
    color:#fff;
    text-decoration: none;
}
#login_button a{
    text-decoration: none;
    background: #FFF;
    color: #2056ac;
}