#registration_form label, #login label {
    text-align: center;
    margin: 0.5em;
}

#login_button {
    font-weight: 600;
    line-height: 35px;
    outline: 0;
    background: #FFF;
    color: #2056ac;
    border-radius: 0 0 7px 7px;
    max-width: 10%;
    border: 3px solid white;
    border-top: 3px solid #2056ac;
}

#login_button:hover, #login_button a:hover {
    background: #2056ac;
    color: #fff;
    text-decoration: none;
}

#login_button a {
    text-decoration: none;
    background: #FFF;
    color: #2056ac;
}

ol.categories {
    padding-left: 33%;
    text-align: left;
}

ul.sub-categories {
    padding-left: 20%;
}

.sub-categories li:not(.subcategory) {
    padding-left: 10%;
}

a div#logo, a div#logo:link,
a div#logo:hover,
a#logo-link:hover,
a div#logo:visited,
a div#logo:active
{
    color: white;
    text-decoration: none !important;
}

#banner .bg-danger{
    padding: 1em;
}